html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
.checked {
    color: orange;
}

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.availability-table
{
    width: 1px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.availability-table thead th:first-child {
    pointer-events: none;
    background: white;
    border: none;
}

.availability-table td {
    vertical-align: middle;

}

.availability-table th
{
    text-align: center;
}

/*
 * Custom checkbox CSS, below are three color classes, day, evening, and night
 */
.availability-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.availability-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
}

.availability-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    -moz-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    -o-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.availability-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}

/*
 * Day color codes
 */
.checkbox-day .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #5cb85c;
    background-image: none;
    box-shadow: none !important;
}
.checkbox-day .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color: #5cb85c;
    left: 15px;
}

/*
 * Evening color codes
 */
.checkbox-evening .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #f0ad4e;
    background-image: none;
    box-shadow: none !important;
}

.checkbox-evening .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color: #f0ad4e;
    left: 15px;
}

/*
 * Night color codes
 */
.checkbox-night .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #428bca;
    background-image: none;
    box-shadow: none !important;
}
.checkbox-night .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color: #428bca;
    left: 15px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}






/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }